%h1 Padrino Test Page
%p (for visual approval ;) Actual tests are in the gem)

%h2 The model
- model = Book.new 'This is my <script> Name', 100
= "> A book with name '#{h(model.name)}' and # of pages #{model.pages}"

%h2 view_model_for
- view_model = view_model_for model
%p= "> The model #{model.class} "

%h2 model_reader
%p= "> The book's description: #{view_model.description}"

%h2 model_reader with filter (html_escape-d)
%p= "> The book's header: #{view_model.header}"

%h2 render_as
= "> #{view_model.render_as :list_item}"

%h2 render_as with hierarchical rendering
= "> #{view_model.render_as :not_in_book}"

/ %h2 collection_view_model_for
/ - collection = collection_view_model_for @items
/ = "> The items in the #{@items.class} are wrapped in a collection view model instance of #{collection.class}"
/ 
/ %h2 Collection View Model
/ = collection.list